


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
      rel="stylesheet" type="text/css" />


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="~/./assets/css/contact/contact.css">



<main>

    <section id="page-title">

        <div class="container ">

            <div class="row">

                <div class="col-lg-6">

                    <div class="contact">
                        <h4>CONTACT</h4>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="content">

                        <li class="title">
                            <a href="home.html">HOME</a>
                        </li>
                        <li>/</li>
                        <li>CONTACT</li>

                    </div>
                </div>




            </div>


        </div>


    </section>


    <section id="contact-us">

        <div class="container">


            <div class="map mt-5">

                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.428674496239!2d49.85175681510556!3d40.37719087936975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2saz!4v1678098236806!5m2!1sen!2saz"
                            width="100%;" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="row">

                    <div class="col-lg-6">

                        <div class="title">
                            <h3>Contact Us</h3>
                        </div>

                        <div class="icons">

                            <ul>

                                <li>
                                    <i class="fa-solid fa-house"></i>
                                    <h4>Address</h4>
                                    <p>123 Main Street, Anytown, CA 12345 – USA</p>

                                </li>

                                <li>
                                    <i class="fa-solid fa-phone"></i>
                                    <h4>Phone</h4>
                                    <p>123 Main Street, Anytown, CA 12345 – USA</p>
                                </li>

                                <li>
                                    <i class="fa-solid fa-envelope"></i>
                                    <h4>Email</h4>
                                    <p>123 Main Street, Anytown, CA 12345 – USA</p>
                                </li>

                            </ul>

                        </div>



                    </div>

                    <div class="col-lg-6">

                        <div class="title">
                            <h3>Contact Us</h3>
                        </div>


                        <form>

                            <div class="group">
                                <input type="text" required>
                                <span class="bar"></span>
                                <label>Your Name (required)</label>
                            </div>

                            <div class="group">
                                <input type="text" required>
                                <span class="bar"></span>
                                <label>Your Email (required)</label>
                            </div>

                            <div class="group">
                                <input type="text" required>
                                <span class="bar"></span>
                                <label>Subject*</label>
                            </div>

                            <div class="group">
                                <input type="text" required>
                                <span class="bar"></span>
                                <label>Post content*</label>
                            </div>


                            <div>
                                <button type="submit" class="btn">Send</button>
                            </div>

                        </form>





                    </div>
                </div>





            </div>


        </div>

    </section>

</main>


<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
<script src="https://kit.fontawesome.com/09a7df35a3.js" crossorigin="anonymous"></script>
<script src="~/./assets/js/common.js"></script>