
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
      rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="~/./assets/css/blog/blog.css">




<main>

    <section id="page-title">

        <div class="container ">

            <div class="row">

                <div class="col-lg-6">

                    <div class="contact">
                        <h4>BLOG LIST</h4>
                    </div>

                </div>

                <div class="col-lg-6">

                    <div class="content">

                        <li class="title">
                            <a href="home.html">HOME</a>
                        </li>
                        <li>/</li>
                        <li>BLOG LIST</li>

                    </div>
                </div>




            </div>


        </div>

    </section>


    <section id="blog-list">

        <div class="container mt-5">

            <div class="row">

                <div class="main-blog">

                    <div class="col-lg-4">

                        <div class="single-blog-list">

                            <div class="img">
                                <a href="">
                                    <img src="~/./assets/img/blog/b1.jpg" alt="">
                                </a>
                            </div>

                            <div class="img">
                                <a href="">
                                    <img src="~/./assets/img/blog/b1.jpg" alt="">
                                </a>
                            </div>

                            <div class="img">
                                <a href="">
                                    <img src="~/./assets/img/blog/b1.jpg" alt="">
                                </a>
                            </div>





                        </div>

                    </div>

                    <div class="col-lg-4">

                        <div class="info-text">

                            <div class="text-box">
                                <a href="">
                                    <h4> Our Outstanding Services </h4>
                                </a>

                            </div>

                            <ul class="icons">
                                <li><i class="fa-regular fa-clock"></i> Aug 21, 2015 </li>
                                <li><i class="fa-solid fa-user"></i> Marc Spenser </li>
                                <li><i class="fa-solid fa-comment-dots"></i> 05 Comments </li>
                            </ul>

                            <p>
                                Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque
                                Benenatis mauris Vestibulum ante ipsum primis in industry, logistics, finance, business
                                orci
                                ultrices venenatis mauris. It is a long established fact that a reader will be
                                distracted.
                            </p>



                        </div>


                        <div class="info-text">

                            <div class="text-box">
                                <a href="">
                                    <h4> Our Outstanding Services </h4>
                                </a>

                            </div>

                            <ul class="icons">
                                <li><i class="fa-regular fa-clock"></i> Aug 21, 2015 </li>
                                <li><i class="fa-solid fa-user"></i> Marc Spenser </li>
                                <li><i class="fa-solid fa-comment-dots"></i> 05 Comments </li>
                            </ul>

                            <p>
                                Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque
                                Benenatis mauris Vestibulum ante ipsum primis in industry, logistics, finance, business
                                orci
                                ultrices venenatis mauris. It is a long established fact that a reader will be
                                distracted.
                            </p>



                        </div>




                        <div class="info-text">

                            <div class="text-box">
                                <a href="">
                                    <h4> Our Outstanding Services </h4>
                                </a>

                            </div>

                            <ul class="icons">
                                <li><i class="fa-regular fa-clock"></i> Aug 21, 2015 </li>
                                <li><i class="fa-solid fa-user"></i> Marc Spenser </li>
                                <li><i class="fa-solid fa-comment-dots"></i> 05 Comments </li>
                            </ul>

                            <p>
                                Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque
                                Benenatis mauris Vestibulum ante ipsum primis in industry, logistics, finance, business
                                orci
                                ultrices venenatis mauris. It is a long established fact that a reader will be
                                distracted.
                            </p>



                        </div>









                    </div>

                    <div class="col-lg-4">

                        <div class="sidebar">

                            <div class="blog-sidebar">
                                <div class="search">
                                    <input type="search" placeholder="Search...">
                                </div>

                                <div class="title">
                                    <h4>Latest News</h4>
                                </div>

                                <div class="_line">
                                </div>

                                <div class="line_">
                                </div>

                                <ul>
                                    <li>
                                        <div class="img">
                                            <img src="~/./assets/img/blog/b1.jpg" alt="">
                                        </div>

                                        <div class="text">

                                            <h5>
                                                <a href="">How To Reduce Financial Stress</a>
                                            </h5>
                                            <span>02 Dec.</span>

                                        </div>

                                    </li>

                                    <li>

                                        <div class="img">
                                            <img src="~/./assets/img/blog/b1.jpg" alt="">
                                        </div>

                                        <div class="text">

                                            <h5>
                                                <a href="">What Makes A Financial Website Successful? </a>
                                            </h5>
                                            <span>02 Dec.</span>

                                        </div>

                                    </li>



                                    <li>

                                        <div class="img">
                                            <img src="~/./assets/img/blog/b1.jpg" alt="">
                                        </div>

                                        <div class="text">

                                            <h5>
                                                <a href="">What Makes A Financial Service’s Website Successful? </a>
                                            </h5>
                                            <span>02 Dec.</span>

                                        </div>

                                    </li>

                                </ul>



                                <div class="post-widget">

                                    <div class="title">
                                        <h4>Text widget</h4>
                                    </div>

                                    <div class="_line">
                                    </div>

                                    <div class="line_">
                                    </div>

                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                        dolore que laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                        veritatis et quasi arch itecto beatae vitae dict eaque ipsa quae.
                                    </p>

                                </div>


                                <div class="post-widget">

                                    <div class="title">
                                        <h4>Tags widget</h4>
                                    </div>

                                    <div class="_line">
                                    </div>

                                    <div class="line_">
                                    </div>

                                    <ul>

                                        <div class="list">
                                        <li>
                                            <a href="">Insurance</a>
                                        </li>

                                        <li>
                                            <a href="">Investments</a>
                                        </li>
                                </div>

                                <div class="list">
                                    <li>
                                        <a href="">tax plans</a>
                                    </li>

                                    <li>
                                        <a href="">Mutual funds</a>
                                    </li>
                                </div>

                                <div class="list">

                                    <li>
                                        <a href="">Retirement plans</a>
                                    </li>

                                    <li>
                                        <a href="">Busniess plans</a>
                                    </li>
                                </div>




                                </ul>


                            </div>


                        </div>

                    </div>



                </div>




            </div>

        </div>

    </section>

</main>


<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
   
    <script
        src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <script src="https://kit.fontawesome.com/09a7df35a3.js" crossorigin="anonymous"></script>
    <script src="~/./assets/js/common.js"></script>  
